.button{
    display: block;
    background-color: #B01B1B;
    border: none;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 0 3px 1px rgb(220, 220, 220);
    padding: 0.5rem;
    color:#f8fafc; 
    font-size: 1.25rem;
    width: 30%;
    font-weight:600; 
}